doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Speech to Text
    link(href='css/watson-bootstrap-style.css', rel='stylesheet')
    link(href='css/browser-compatibility.css', rel='stylesheet')
    link(href='css/demo-stt.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/watson-bootstrap-dark.css')
    link(rel='stylesheet', href='/css/banner.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    h3 A demonstration of how to access a TEXTAREA element
    Address: br
    textarea
    p click the button to get the content of the textarea
    button(type = 'button', onclick = 'myFunction') Try It
    p #demo
    script.
        function myFunction() {
            var x = document.getElementById("myTextarea").value;
            document.getElementById("demo").innerHTML = x;
            var watson = require('watson-developer-cloud');

            var personality_insights = watson.personality_insights({
              username: '4ecf51b2-0338-42d9-81c2-2578cd286ac9',
              password: '2cLAKdHxKm10',
              version: 'v2'
            });

            personality_insights.profile({
              text: x,
              language: 'en' },
              function (err, response) {
                if (err)
                  console.log('error:', err);
                else
                  console.log(JSON.stringify(response, null, 2));
            });
        }